.skin-coach-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    height: 630px;
}

.image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.image-wrapper {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.skin-coach-title {
    margin-top: 20px;
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}

.ai-text {
    color: #37b5ac;
}

.info-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.info-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
}

.start-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1rem;
    color: #fff;
    background-color: #37b5ac;
    border: none;
    border-radius: 5.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.start-button:hover {
    background-color: #2a9287;
}
