.photo_upload-container {
    display: flex;
    flex-direction: row;
    max-width: 1700px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    height: auto;
}

.photo_upload-image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background-color: #f8f8f8;
}

.photo_upload-image-wrapper {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
}

.photo_upload-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.photo_upload-skin-coach-title {
    margin-top: 20px;
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}

.photo_upload-ai-text {
    color: #37b5ac;
}

.photo_upload-info-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.photo_upload-info-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.photo_upload-info-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
}

.upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00c4cc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.upload-button:hover {
    background-color: #008f92;
}

.image-preview {
    margin-top: 20px;
}

.image-preview img {
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.results {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.table th {
    background-color: #37b5ac;
    color: white;
    font-weight: bold;
}

.table td {
    background-color: #ffffff;
    color: #333;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.alert {
    margin-top: 20px;
}

.modal-header {
    background-color: #37b5ac;
    color: white;
}

.modal-footer {
    border-top: none;
}

.terms-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00c4cc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.modal {
    display: block !important;
    z-index: 1050;
}

.modal-backdrop {
    z-index: 1040;
}

.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}

.button-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
}

.table-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00c4cc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
}
