.photo_upload-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    height: 630px;
}

.photo_upload-image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.photo_upload-image-wrapper {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
}

.photo_upload-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.photo_upload-skin-coach-title {
    margin-top: 20px;
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}

.photo_upload-ai-text {
    color: #37b5ac;
}

.photo_upload-info-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.photo_upload-info-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.photo_upload-info-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
}

.upload-button-wrapper {
    margin-top: 20px;
}

.upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00c4cc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #008f92;
}

.image-preview {
    margin-top: 20px;
}

.image-preview img {
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.file-input {
    display: none;
}

.terms-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00c4cc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}