.faq-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    height: 468px;
    margin-top: 43px;
}

.back-button {
    background: none;
    border: none;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.faq-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
}

.faq-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.faq-question {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    cursor: pointer;
}

.faq-question:hover {
    background: #f1f1f1;
}

.faq-answer {
    padding: 15px;
    background: #ffffff;
    border-top: 1px solid #ddd;
}

.faq-arrow {
    font-size: 18px;
}