.instruction_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8fbff;
    font-family: Arial, sans-serif;
}

.instruction_carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    background-color: rgb(238, 244, 238);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
    top: -50px;
}


.instruction_arrow {
    font-size: 32px;
    color: #5a5a5a;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.instruction_arrow.left {
    left: 30px;
}

.instruction_arrow.right {
    right: 30px;
}

.instruction_arrow:hover {
    color: #007bff;
}

.instruction_content h2 {
    font-size: 20px;
    margin: 0;
    color: #3c3c3c;
    font-weight: bold;
}

.instruction_content p {
    font-size: 16px;
    color: #6c6c6c;
    margin: 10px 0;
}

.instruction_illustration {
    margin: 10px 0;
    position: relative;
}

.instruction_illustration img {
    width: 250px;
    height: auto;
}

.instruction_dots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.instruction_dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #d3d3d3;
    border-radius: 50%;
    margin: 0 5px;
}

.instruction_dot.active {
    background-color: #007bff;
}

.instruction_cta-button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #17c3c3;
    border: none;
    border-radius: 5.7rem;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 50px;
    font-weight: bold;
}

.instruction_cta-button:hover {
    background-color: #149b9b;
}

.instruction_carousel a {
    text-decoration: none;
}
