/* .main_page-container {
    scroll-behavior: smooth;
  }
  
  #home-section {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  #how_to_do-section {
    padding: 20px;
    background-color: #fff;
  }
   */