.profile-title {
    height: 480px;
}

.my_profile {
    text-align: center;
    font-size: 36px;
    margin-top: 5px;
}

.account-settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.account-settings {
    max-width: 400px;
    background-color: rgb(246, 243, 243);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(41, 41, 41, 0.2);
    width: 100%;
    max-width: 400px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-image {
    width: 84px;
    height: 84px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #d1d5db;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.profile-image:hover {
    transform: scale(1.05);
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 20px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.edit-btn {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #17c3c3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5.7rem;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

.edit-btn:hover {
    background-color: #149b9b;
}

.save-btn {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #17c3c3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5.7rem;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

.save-btn:hover {
    background-color: #149b9b;
}

.name-email {
    text-align: justify;
}

.name-email p strong {
    font-weight: bold;
    color: #333;
}
